<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        Celsi<ion-text color="primary">U</ion-text
        ><ion-text color="secondary">S</ion-text>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Celsi<ion-text color="primary">U</ion-text
        ><ion-text color="secondary">S</ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flexbox">
    <form [formGroup]="optionsForm" *ngIf="optionsForm">
      <ion-list class="list">
        <ion-list-header
          >My&nbsp;<ion-text color="primary">home</ion-text></ion-list-header
        >
        <ion-item *ngFor="let option of options; let i = index">
          <ion-label>{{option.name}}</ion-label>
          <ion-checkbox
            [color]="i % 2 == 0 ? 'primary' : 'secondary'"
            [formControlName]="option.id"
            slot="start"
          ></ion-checkbox> </ion-item
      ></ion-list>
    </form>

    <div class="break"></div>

    <div>
      <h1>
        Your heating is currently <br />
        <ion-text
          *ngIf="!isLoading"
          [color]="decision.decision === 'YES' ? 'primary' : 'secondary'"
          >{{decision.decision === 'YES' ? 'ON' : 'OFF' }}</ion-text
        >
        <ion-text *ngIf="isLoading">...</ion-text>
      </h1>
    </div>
  </div>
</ion-content>
